---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Modal from "../components/Modal.astro";
import Lightbox from "../components/Lightbox";

const portfolio = await getCollection("portfolio");
---
<BaseLayout title="Photography">
<div class="text-center mt-8 mb-16">
    <Lightbox />

    <div class="p-2 mx-auto container gap-2 my-8 columns-2 md:columns-3 lg:columns-4 xl:columns-5">
        {
            portfolio.map((entry) => (
                <button
                        data-image-id={entry.data.id}
                        onclick={`document.querySelector("#${entry.data.id}").showModal()`}
                >
                    <Image
                        src={entry.data.image}
                        alt={entry.data.alt}
                        quality="low"
                        class="rounded mb-1 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
                        loading="lazy"
                    />
                </button>

                <Modal id={entry.data.id}>
                    <main slot="main">
                        <Image
                            src={entry.data.image}
                            alt={entry.data.alt}
                            quality="high"
                            loading="lazy"

                        />
                        <h2>{entry.data.title}</h2>
                        <p>{entry.data.location}</p>
                    </main>
                    <button slot="close">Close Modal</button>
                </Modal>
            ))
        }
    </div>
</div>
</BaseLayout>